.mainbox {
  margin-top: 50px;
}
.mainboxReg {
  margin-top:50px
}
.forgotPass {
  float:right;
  font-size: 80%;
  position: relative;
  top:-10px;
}
#login-alert {
  display:none;
}
.input-group {
  margin-bottom: 25px;
}
.panel-body {
  padding-top:30px;
}
.form-group {
  margin-top:10px;
}
.noAccount {
border-top: 1px solid#888;
padding-top:15px;
font-size:85%;
}
.signUp {
  margin-left:8px;
}
